@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    box-sizing: border-box;
}
body{
    /*background:url('images/hotel-wallpaper.png') fixed;*/
    /*background-color: #cfd8dc;*/
    background-image: linear-gradient(#cfd8dc,#93cfec );
    margin: 0;
    font-family: 'Grandstander', cursive;
}
.wrapper{
    
    max-width: 1200px;
    margin: 10px auto;
}
header{
    border: 1px solid rgba(0, 0, 0, .4);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .4);;
    position: relative;
    background: url('images/programmer.png') no-repeat top center;
    height: 400px;
}
h1{
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, .7);
    margin:0;
    position: absolute;
    bottom: 80px;
    right: 60px;
    color: #43788F;
}
.vaz{
    border: 1px solid rgba(0, 0, 0, .4);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .4);
    position: relative;
}
nav{
    /*background-color: #A67C4E;*/
    background-color: #43788F;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}
nav::after {
    content: "";
    clear: both;
    display: table;
  }
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li{
    float: left;
}
nav a{
    text-decoration: none;
    display: block;
    padding: 10px;
}
.content{
    display: flex;
    flex-direction: row;
    /*background-color: #cfd8dc;
    /*background-image: linear-gradient(#cfd8dc,#93cfec );*/
}
.content h2{
    padding-left: 5px;
    margin: 10px 0;
}
.content p{
    line-height: 30px;
    padding: 0 20px;
}
.content dt{
    padding: 10px 20px;
    font-weight: 700;
}
.content ul li{
    padding: 5px 0;
}
main{
    width: 75vw;
}

aside{
    width: 25vw;
}