* {
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to bottom, #e7e7e9, #aeaeaf);
  margin: 0;
  font-family: "Grandstander", cursive;
}
/*Mobile-first szemlélet kialakítása, elsőnek a kis eszközökre való optimalizálás*/
.grid-container {
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header" "nav" "sidemenu" "main" "aside" "footer";
}
/*A fejléc kialakítása*/
header {
  grid-area: header;
  background: url("../images/lakhelysmall.jpg") no-repeat top center;
  height: 300px;
  position: relative;
}
header > h1 {
  margin-top: 15px;
  text-align: center;
  text-shadow: 3px 3px 3px rgba(75, 75, 151, 0.5);
  color: #4b4b97;
}
/*Tapadó menüszalag kialakítása horizontális elrendezéssel*/
.nav {
  position: sticky;
  top: 0;
  background-color: #aeaeaf;
  margin-bottom: 20px;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav ul li {
  float: left;
}
.nav ul li a {
  text-shadow: 4px 4px 15px;
  color: rgba(0, 0, 0, 0.808);
  text-decoration: none;
  display: block;
  padding: 8px;
}
.nav ul li a:hover,
#aktivmenu {
  background-color: #85a250d6;
  color: #5a1539;
}
.nav {
  grid-area: nav;
}

/*Main szekció kialakítása*/
.main {
  grid-area: main;
}
.main>h2{
    text-align: center;
    color: #4b4b97;
    color: #5a1539;
}
.main-div{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    padding: 10px;
}

/*Oldalsó kiegészitő információk*/
.aside {
  grid-area: aside;
}
/*Oldalsó lokális menü, mobilnál rejtve marad*/
.sidemenu {
    grid-area: sidemenu;
    display: none;
  }

/*Lábléc*/
.footer {
  grid-area: footer;
  text-align: right;
  font-size: medium;
  font-weight: 400;
  background-color: #85a250d6;
  color: #5a1539;
}


/*Méretezés a 800 pixelnél nagyobb eszközökre*/
@media (min-width: 800px) {
    /*3 oszlopos elrendezés a két oldalsó részhez*/
  .grid-container {
    max-width: 1000px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-template-areas:
      "header header header header header header"
      "nav nav nav nav nav nav"
      "sidemenu main main main main aside"
      "footer footer footer footer footer footer";
  }
  header{
      background: url('../images/lakhelymedium.jpg') no-repeat top center;
      height: 300px;
  }
  /*A fő rész nagyobb monitoron két hasábban jelenik meg*/
  .main-div{
      grid-template-columns: 1fr 1fr;
  }
}
